<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include("layout/jsCss") -%>
  </head>
  <body>
      <!-- 公用header -->
      <%- include("layout/header") -%>
      <!-- <div style="height:1600px;"></div> -->
      <!-- main JS -->
      <%- include("layout/mainScript") -%>
  </body>
</html>
