<div class="header">
    <div class="headBox">
        <ul class="menus">
            <li><a href="/home">首页</a></li>
            <li><a href="/movies">电影</a></li>
            <li><a href="/teleplays">电视剧</a></li>
            <li><a href="/cartoons">动画片</a></li>
            <li><a href="/news">资讯</a></li>
        </ul>
        <div class="load">
            <ul>
                <li><a><i class="iconfont icon-weixin"></i></a></li>
                <li><a><i class="iconfont icon-QQ"></i></a></li>
                <li><a href="liuyan"><a><i class="iconfont icon-liuyan"></i></a></li>
            </ul>
            <div class="fadeBox">

            </div>
        </div>
    </div>
</div>
<div class="search">
    <div class="serachBox">
        <input id="searchVal" placeholder="影片名/明星/导演" value="" />
        <i id="searchGo" class="iconfont icon-sousuo"></i>
    </div>
    <div class="rank">
        <i class="iconfont icon-paixing"></i>
        <span>排行榜</span>
    </div>
</div>
<div className="navs">
    <ul className="nav"></ul>
    <ul className="subnav"></ul>
</div>